<div class="home-container"
  style="background-image: url('/images/abstract-background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="wave-container"> 
  </div>
  <div class="card home-card shadow-lg text-center">
    <h1 class="card-title mb-4">
      Bienvenido a
    </h1> 
    <img src="/images/logo.png" class="img-fluid" alt="Logo">   
    <p class="mb-4">Selecciona una opción para continuar:</p>
    <div class="d-grid gap-3">
      <button routerLink="/login" class="btn btn-danger btn-lg">Iniciar Sesión</button>
      <button routerLink="/register" class="btn btn-secondary btn-lg">Registrarse</button>
    </div>
  </div>
</div>